@import './variables.scss';
@import './colors.scss';
@import './typography.scss';
@import './transitions.scss';

body {
    background: white url('../img/vectors_opaque.jpg') center/cover no-repeat fixed;

    &.preload {
        visibility: hidden;
    }
}

.background {
    position: fixed;
    background: white url('../img/vectors.jpg') center/cover no-repeat fixed ;
    width: 100vw;
    height: 100vh;
}

.background-matte {
    position: fixed;
    background-color: rgba(255,255,255,.96);
    width: 100vw;
    height: 100vh;
}

.cover {
    position: fixed;
    background: white url('../img/vectors.jpg') center/cover no-repeat fixed ;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.scroll-watch-fade-up {
    opacity: 0;
    position: relative;
}

header {
    &.main-header {
        padding:1rem 0;
        color: $cac_dkgrey;

        .main-header__container {
            margin: 0 auto;

            .brand {
                font-family: 'Love Ya Like A Sister', cursive;
                letter-spacing: .1rem;
            }
        }
    }
}

.intro {
    // padding-top:calc(50vh - 128px);
    height:100vh;

    .intro__name {
        text-align: center;

        @media screen and (min-width:$md){
            text-align: left;
        }
        @media screen and (min-width:$mdlg){
            padding-top:5rem;
        }

        h1 {
            font-size: 3.5rem;
            line-height: 4.2rem;
            text-shadow: .2rem .2rem .2rem rgba(200,200,200,.8);
    
            @media screen and (min-width:$smd){
                font-size: 4.5rem;
                line-height: 5rem;
            }
    
            @media screen and (min-width:$md){
                font-size: 5rem;
                line-height: 5.5rem;
            }
    
            @media screen and (min-width:$lg){
                font-size: 6rem;
                line-height: 7rem;
            }
        }
    }

    .intro__picture {
        text-align: center;

        img {
            max-width: 60%;

            @media screen and (min-width:$md){
                & {
                    max-width:100%;
                }
            }
        }
    }

    .intro__scroll {
        position: absolute;
        left:50%;
        margin-left:-25px;
        bottom:5px;
    }
}

.philosophy {
    img {
        width: 100%;
    }
}

html {
    visibility: visible;
    opacity: 1;
}