.animation-wait-short {
    animation-delay: .5s
}

.animation-wait-med {
    animation-delay: .75s
}

.animation-wait-long {
    animation-delay: 1s
}

.animation-short {
    animation-duration: .5s
}

.animation-med {
    animation-duration: .75s
}

.animation-long {
    animation-duration: 1s
}